<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMovieService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://desktop-spmrh68/Design_Time_Addresses/MovieServiceLibrary/MovieService/MovieLibrary.MovieService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMovieService"
                contract="MovieServiceReference.IMovieService" name="BasicHttpBinding_IMovieService" />
        </client>
    </system.serviceModel>
</configuration>