@model EntitiesCL.Course

@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<hr />
CourseId : @(Model.CourseId)
<hr />
InstitutuinId : @(Model.InstitutionId)
<hr />
Title : @(Model.Title)
<hr />
Description : @(Model.Description)

