<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MexBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/MovieServiceLibrary2/MovieService/mex"
            httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MexBehavior" name="MovieServiceLibrary2.MovieService">
        <endpoint address="http://localhost:8080/MovieServiceLibrary/MovieService/basic"
          binding="basicHttpBinding" bindingConfiguration="" name="basicep"
          contract="MovieServiceLibrary2.IMovieService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>