@model EntitiesCL.Institution

@{
    ViewBag.Title = "Institution";
}

<h2>Institution</h2>
<hr />
InstitutionId : @(Model.InstitutionId)
<hr />
Name : @(Model.Name)
<hr />
Address : @(Model.Address)
<hr />
Telephone : @(Model.Telephone)

